@import "tailwindcss";

@plugin "daisyui" {
themes: all;
};

html, body {
width: 100%;
max-width: 100vw;
overflow-x: hidden !important;
margin: 0;
padding: 0;
box-sizing: border-box;
}

#root {
width: 100%;
max-width: 100vw;
overflow-x: hidden !important;
}